#progress-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.section {
  display: flex;
  min-height: 100vh; /* Ensure each section takes full viewport height */
  scroll-snap-align: start; /* Snap behavior for scrolling */
}

.left {
  flex: 1;
  color: #ffffff; /* Text color for left side */
  padding: 2rem;
}

.right {
  flex: 1;
  color: #ffffff; /* Text color for right side */
  padding: 2rem;
}

#pages {
  scroll-snap-type: y mandatory; /* Enable vertical snap scrolling */
  overflow-y: scroll; /* Enable scrolling */
  height: 100vh; /* Ensure scrolling container takes full viewport height */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}
.animate-slide-up {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: translateY(20px); /* Initial position off-screen */
  opacity: 0; /* Initially hidden */
}

.animate-slide-up.active {
  transform: translateY(0); /* Slide up into view */
  opacity: 1; /* Fade in */
}